<footer>
  <div class="container">
    <div class="footer-info">
      <div class="footer-logos">
        <span style="font-size: 50px;">
          <a href="https://twitter.com/menteecollege1?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3Amenteecollege1&ref_url=http%3A%2F%2Fixgraphix.info%2F1510%2520Web%2520Development%2Fmentee%2Findex.html">
            <i class="fab fa-twitter-square"></i>
          </a>
        </span>
        <span style="font-size: 50px;">
          <i class="fab fa-facebook"></i>
        </span>
        <span style="font-size: 50px;">
          <i class="fab fa-youtube"></i>
        </span>
      </div>
      <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
        Approved by the Georgia Medical Care Foundation Approved by the Georgia Nonpublic Postsecondary Education Commision Workforce Investment Act (WIA) Provider for the State of Georgia
      </p>
      <p style="font-size: 12px;">3545 Cruse Rd, Ste 100 Lawrenceville, Georgia (770) 931-5020 admissions@menteemedicalinstitute.org</p>
      <small>© 2017 YRB Group & Educational Purposes</small>

      <p style="font-size: 12px; margin-bottom: 0;" class="mt-2">Back to the top</p>
    </div>
  </div>
</footer>
