
.container {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}
