<mat-drawer-container class="container">
  <!--mode="side"-->
  <mat-drawer #drawer class="sidenav" >
    <button color="primary" mat-button>Home</button>
    <button color="primary" mat-button>Admissions</button>
    <button color="primary" mat-button>Resources</button>
    <button color="primary" mat-button>Programs</button>
    <button color="primary" mat-button>Contact Us</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Title</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-drawer-container>

<router-outlet></router-outlet>
