<mat-drawer-container class="container">
  <!--mode="side"-->
  <mat-drawer #drawer class="sidenav">
    <a [routerLink]="''">
      <img [src]="menteeLogo" alt="" class="m-2 text-center">
    </a>

    <button mat-button [routerLink]="''">HOME</button>
    <button mat-button [routerLink]="'admissions'">ADMISSIONS</button>
    <button mat-button [routerLink]="'resources'">RESOURCES</button>
    <!--create router link-->
    <button mat-button [routerLink]="'programs'">PROGRAMS</button>
    <button mat-button [routerLink]="'contact-us'">CONTACT US</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar class="m-0">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ml-2">
          <a [routerLink]="''">
            <img [src]="menteeLogo" alt="Mentee Medical College">
          </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
    <router-outlet></router-outlet>
</mat-drawer-container>

