<div class="videoTitle mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Our Videos</h1>
        <p>Below are some of our instructional videos.</p>
      </div>
    </div>
    <div class="row text-center videos">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <iframe width="340" height="220" src="https://www.youtube.com/embed/F8OICqRWZK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--        <p>Count Your Pulse</p>-->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <iframe width="340" height="220" src="https://www.youtube.com/embed/U3JJN9g4Dnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--        <p>Elastic Stocking</p>-->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <iframe width="336" height="216" src="https://www.youtube.com/embed/KmQ3vfzhLuo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--        <p>Denture Care</p>-->
      </div>
    </div>
  </div>
</div>
