<app-slide-show></app-slide-show>

<div class="container">
  <div class="row">
      <div class="col mt-3">
        <h1>About Us</h1>
        <hr style="margin: 0; background: #A71315;" class="mt-3 mb-3">
        <p class="mb-3">
          Established in 2003, Mentee Medical College has been providing the best in training and education to members of the Lawrencville, Georgia community.
          The programs we offer provide career-focused medical training that is dedicated to teaching students how to handle real world situations, giving future
          medical professionals the tools and confidence they will need to be the caretakers of tomorrow.
        </p>
      </div>
  </div>

  <div class="row">
    <div class="card shadow-lg mt-3">
      <div class="card-header">
          <h1>Begin Your Career Today!</h1>
          <p>
            Below is a glance at just a few of the programs we offer:
          </p>
        </div>

        <div class="card-body">
          <div class="programs">
            <div class="nurse">
              <img src="../../assets/office.jpeg" alt="" class="rounded-circle" style="height: 180px; width: 180px;">
              <div class="insideNurse">
                <h3 class="text-center">Nursing Assistant</h3>
                <p>
                  Start your journey in the medical field. Our nursing courses will teach you how to be the best in an ever growing field, while also preparing you for your future courses at Mentee College.
                </p>
              </div>
            </div>
            <div class="ultrasound">
              <img src="../../assets/office.jpeg" alt="" class="rounded-circle " style="height: 180px; width: 180px;">
              <div class="insideUltra">
                <h3 class="text-center">Ultrasound Program</h3>
                <p>
                  Discover the science of sonography with our exstensive ultrasound program. Learn how to handle and read the technology that is used to save lives every day.
                </p>
              </div>
            </div>
            <div class="patient">
              <img src="../../assets/office.jpeg" alt="" class="rounded-circle " style="height: 180px; width: 180px;">
              <div class="insidePatient">
                <h3 class="text-center">Patient Care</h3>
                <p>
                  Take part in our patient care system. Learn the skills you will need to help your patients lives both easier and healthier.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

<app-medical-news></app-medical-news>
<app-social-media></app-social-media>
<app-footer></app-footer>

