
<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <h2><i>Sharpen your skills with our free tests.</i></h2>
      <p>
        Below we have quizzes, tests, and reviews to help you improve yourself at Mentee College.
      </p>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">Quizzes</h2>
          <p>
            This link will lead you to th e quizzes we have specially prepared for you.e quizzes we have specially prepared for you.
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Practice</h2>
          <p>
            Take our special practice quiz by following the link below!e quizzes we have specially prepared for you.
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Test Prep</h2>
          <p>
            Follow this link to take part in our test prep.e quizzes we have specially prepared for you.e quizzes we have specially prepared for you.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
