<div class="container mb-3">
    <p class="text-center mt-3">
      Follow us on FaceBook and Twitter to keep yourself updated on current events and special announcements.
    </p>
  <hr>
  <div class="row">
    <div class="col">
      <div class="twitter-container text-center">
        <a class="twitter-timeline"
           data-height="600"
           data-width="600"
           href="https://twitter.com/menteecollege1"
           data-chrome="nofooter">
          Tweets by @menteecollege1
        </a>
      </div>
    </div>
  </div>
</div>
