<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../../assets/apply.jpg" alt="apply" class="img-fluid">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4 newStudent" style="border-right: 1px solid #000;">
      <h2>New Student?</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      </p>
      <button mat-raised-button>Register</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4 returningStudent" style="border-right: 1px solid #000;">
      <h2>Returning Student?</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      </p>
      <button mat-raised-button>Login</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-4 appStatus">
      <h2>Application Status</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
      </p>
      <button mat-raised-button>Check Status</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Application</h1>
      <p>
        You may complete an <a href="#">online application</a>. The application fee is $20. salished fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h1>Requirements</h1>
      <p>
        High school Diploma.... published fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h1>Admission Building</h1>
      <ul>
        <li>Address: 3545 Cruse Rd, Ste 100 </li>
        <li>Lawrenceville,Georgia</li>
        <li>Email: admissions@menteemedicalinstitute.org </li>
        <li>Phone: (770) 931-5020</li>
        <li>Fax: (770) 674-2019</li>
      </ul>
    </div>
    <div class="col-md-6 menteeBanner">
      <img [src]="menteeBanner" alt="Mentee Banner" style="height: 175px; width: 350px;">
    </div>
  </div>
</div>

<app-footer></app-footer>
